%h1 Change Password

= form_tag weather_path do

  = label :session, :email, 'E-Mail:'
  = text_field :user, 'email', :id => 'emailField'
  <br>
  
  = label :session, :password, 'Current Password:'
  = password_field  :user, 'password', :id => 'currentPwd'
  <br>
  
  = label :session, :new_password, 'New Password:'
  = password_field :user, 'new_password', :id => 'password'
  <br>
  
  = label :session, :new_password_confirmation, 'Confirm Password:'
  = password_field :user, 'new_password_confirmation', :id => 'passwordConfirmation'
  <br>
  
  = submit_tag 'Submit password change', :id => 'request_submit'